.list {
  display: grid;
  margin: 0;
  --w: 280px;
  --n: 2;
  gap: 20px;
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr)
  );
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
  overflow: hidden;

}

.listItemLink {
  color: var(--color-primary);
  font-weight: bold;
}

.listItemDescription {
  color: var(--color-text);
  text-align: left;
}

.textCenter {
  text-align: left;
  text-align: center;
}

.intro {
  max-width: none;
  line-height: var(--line-height-loose);
}