.list {
  display: flex;
  margin: 0;
  --w: 280px;
  --n: 2;
  gap: 50px;
  margin-bottom: -50px;
  margin-top: -20px;
  margin-left: 320px;
  overflow: hidden;
  align-self: center;
  padding-left: 125px;
  column-count: 2;
 

}

.listItemLink {
  color: var(--color-primary);
  font-weight: bold;
}

.listItemDescription {
  color: var(--color-text);
  text-align: left;
}

.textCenter {
  text-align: center;
  margin-top: -80px;
}

.textBody {
  text-align: center;
  margin-top: -30px;
  margin-left: calc(var(--space-9) + 48px);
  line-height: var(--line-height-normal);
  padding: 0;
  
}

.intro {
  max-width: none;
  line-height: var(--line-height-loose);
}